@media screen and (max-width: $break-large) {
  body {
    padding: 24px 36px;
  }
  .action-card__text-box {
    &:after {
      transform: translateX(0);
      top: 8px;
      right: 10px;
    }
  }
  .actions__button {
    position: inherit;
    top: 24px;
    right: 0;
  }

  .subscribe__wrapper {
    padding: 12px 100px;
    margin-top: 150px;
  }

  .subscribe__title-wrapper {
    color: $muncak-white;
    font-size: 0.9rem;
    line-height: 1;
    margin: 20px 0 12px 0;
  }

  .subscribe__input[type="text"],
  .subscribe__input[type="email"] {
    width: 90%;
    height: 42px;
    margin-bottom: 20px;
    border-radius: 12px;
    padding-left: 16px;
    font-size: 1.2rem;
  }
  .subscribe__input[type="submit"] {
    margin: 32px auto 12px auto;
    padding: 16px 32px;
  }
}