@media screen and (max-width: $break-large) {
  body {
    padding: 24px 36px;
  }

  .header__navbar:after {
      width: 720px;
    }

  .hero {
    &:after {
      height: calc(670px / 1.5);
      width: calc(180px / 1.5);
      left: 0;
      top: 260px;
    }
  }
  .hero__column {
    max-width: 550px;
  }
  .hero__title {
    margin: 12px 0;
    font-size: 2.4rem;
  }

  .actions__wrapper {
    padding-top: 170px;
  }

  .action-card__text-box {
    &:after {
      transform: translateX(100%);
    }
  }

  .subscribe__wrapper {
    padding: 12px 100px;
    margin-top: 150px;
  }

  .subscribe__title-wrapper {
    color: $muncak-white;
    font-size: 0.9rem;
    line-height: 1;
    margin: 20px 0 12px 0;
  }

  .subscribe__input[type="text"],
  .subscribe__input[type="email"] {
    width: 90%;
    height: 42px;
    margin-bottom: 20px;
    border-radius: 12px;
    padding-left: 16px;
    font-size: 1.2rem;
  }
  .subscribe__input[type="submit"] {
    margin: 32px auto 12px auto;
    padding: 16px 32px;
  }
}