@media screen and (max-width: $break-medium) {
  .muncak-titles {
    font-size: 1.8rem
  }
  .muncak-btn {
    padding: 18px 48px;
    font-size: 1.2rem;
  }
  body {
    padding: 8px 16px;
  }
  .actions__wrapper {
    padding-top: 250px;
  }
  .numbers__cards {
    padding: 0;
  }
  .actions__cards {
    margin-top: 32px;
  }
  .number-card {
    p {
      font-size: 1.2rem;
    }
    h2 {
      font-size: 2rem;
    }
  }
  .news__wrapper {
    padding-top: 100px;
  }
  .news__title-wrapper {
    margin-bottom: 50px;
  }
  .news-card {
    margin: 0 4px;
    height: 560px;
  }
  .news-card__text-box {
    padding: 6px 16px;
  }
  .news-card__title-box {
    height: 90px;
  }
  .news-card__title {
    font-size: 1.2rem;
  }
  .news-card__description-box {
    height: 172px;
  }
  .news-card__description {
    font-size: 1rem;

  }
  .links__wrapper {
    margin-top: 40px;
  }
  .link-card__title {
    font-size: 0.9rem;
  }
  .link-card__text {
    font-size: 0.85rem;
  }
}