$muncak-blue: #2870db;
$muncak-bright-blue: #00aeff
$muncak-dark-blue: #1c2056;
$muncak-grey: #35434b;
$muncak-light-blue: #f4f8fb;
$muncak-pink: #f8c7ca;
$muncak-text-color: #756d91;
$muncak-white: #fbfcfc;