.action-card {
  position: relative;
  text-align: left;
  width: 100%;
    display: flex;
    justify-content: flex-start;
  &:nth-child(even) {
    justify-content: flex-end;
  }
}
.action-card__wrapper {
  position: relative;
  width: 460px;
  background: $muncak-white;
  padding: 54px 64px;
  margin-bottom: 32px;
  border-radius: 20px;
  box-shadow: 0px 0px 90px -12px rgba($muncak-blue,0.2);
}

.action-card__text-box {
  h2 {
    font-size: 1.7rem;
    margin-bottom: 32px;
    color: $muncak-grey;
  }
  p {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 2.2;
    color: $muncak-grey;
    font-weight: 100
  }
  &:after {
    content: "";
    position: absolute;
    top: -45%;
    transform: translateX(-50%);
    width: 130px;
    height: 130px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.action-card__text-box--avocate {
  &:after {
    background-image: url("../img/icon-speaker.png");
  }
}
.action-card__text-box--volunteer {
  &:after {
    background-image: url("../img/icon-hand.png");
  }
}
.action-card__text-box--explore {
  &:after {
    background-image: url("../img/icon-mountain.png");
  }
}
