.number-card {
  max-width: 350px;
}

.number-card__text {
  text-transform: capitalize;
  font-size: 1.5rem;
  color: $muncak-grey;
  margin: 0;
}

.number-card__values {
  color: darken($muncak-blue, 10%);
  font-size: 2.6rem;
  margin: 6px 0;
}