div.actions__wrapper
  h2.actions__title.muncak-titles We envision a world where everyone has permanent access to a hiking trail 
  div.actions__box
    include components/ActionCard
    include components/ActionCard
    include components/ActionCard
    a.actions__button.muncak-btn Learn More