div.actions__wrapper
  div.actions__title-wrapper
    h2.actions__title.muncak-titles We envision a world where everyone has permanent access to a hiking trail 
  div.actions__cards
    include components/ActionCard
      div.actions__circle1.muncak-circle
    include components/ActionCard
    include components/ActionCard
    a.actions__button.muncak-btn Learn More
div.actions__circle2.muncak-circle