div.header__wrapper
  div.header__logo
    a.heder__logo-link(aria-label="Hompega da Muncak" href="/")
      h3 Muncak

  div.header__navbar
    ul.header__list
      li.header__list-item
        a.header__link(aria-label="Home") Home
      li.header__list-item
        a.header__link(aria-label="Go Hiking") Go Hiking
      li.header__list-item
        a.header__link(aria-label="About") About
      li.header__list-item
        a.header__login(aria-label="Login") Login