div.hero__wrapper
  div.hero__text-box
    h2.hero__title Let's get the top of Mountain
    p.hero__text Here is the hiking information you need to decide if its right for you, and to make it more interesting, enjoyable, and safe.
  a.hero__button.muncak-btn(aria-label="Get Started") Get Started