div.news__wrapper
  div.news__title-wrapper
    h2.news__title.muncak-titles protecting trails: current news and issues 
  div.news__cards
    include components/NewsCard
    include components/NewsCard
    include components/NewsCard
      div.news__circle1.muncak-circle