div.social__wrapper
  ul.social__list
    li.social__list-item
      a.social__icon(aria-label="Instagram")
        include svg/Instagram
    li.social__list-item
      a.social__icon(aria-label="Facebook")
        include svg/Facebook
    li.social__list-item
      a.social__icon(aria-label="Twitter")
        include svg/Twitter