div.subscribe__wrapper
  div.subscribe__title-wrapper
    h2.subscribe__title Receive the latest updates on how to protect trails.<br> Subscribe to the monthly edition of Paperless Trails. 
  form.subscribe__form(action="")
    input.subscribe__input(type="text" name="Name" value="" placeholder="Name")
    input.subscribe__input(type="email" name="Email Address" value="" placeholder="Email Address")
    input.subscribe__input.muncak-btn(type="submit" name="Subscribe" value="Subscribe" placeholder="Email Address")

