.actions {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    height: 670px;
    width: 180px;
    z-index: -1;
    background-image: url("../img/bg-shape02.svg");
    background-size: contain;
    background-repeat: no-repeat;
    right: -135px;
    top: 1260px;
  }
}
.actions__wrapper {
  max-width: 1000px;
  padding-top: 500px;
  text-align: center;
  margin: 0 auto;
}
.actions__title-wrapper {
  max-width: 820px;
  margin: 0 auto;
  text-align: center;
}
.actions__cards {
  margin-top: 200px;
  position: relative;
}
.actions__button {
  position: absolute;
  bottom: 150px;
  right: 100px;
}