.actions__wrapper {
  padding-top: 500px;
  text-align: center;
}
.actions__title-wrapper {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.actions__cards {
  margin-top: 200px;
  position: relative;
}
.actions__button {
  position: absolute;
  bottom: 150px;
  right: 100px;
}