.hero {
  &:after {
    content: "";
    position: absolute;
    height: 670px;
    width: 180px;
    z-index: -1;
    background-image: url("../img/bg-shape01.svg");
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;
    top: 260px;
    pointer-events: none
  }
  display: flex;
  justify-content: flex-end;
}
.hero__wrapper {
  position: relative;
  margin-top: 64px;
  max-width: 400px;
  flex: 8;
}
.hero__column {
  flex: 2;
  max-width: 800px;
  height: 100px;
}
.hero__text-box {
  margin-bottom: 128px;
}
.hero__title {
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: bold;
  color: $muncak-dark-blue;
}
.hero__text {
  font-size: 1.25rem;
  text-align: justify;
  line-height: 1.8;
  color: $muncak-text-color;
}

.hero__circle1,
.hero__circle2,
.hero__circle3 {
  position: absolute;
  border-radius: 50%;
  user-select: none;
  pointer-events: none;
}

.hero__circle1 {
  background-color: $muncak-pink;
  z-index: -1000000;
  height: 85px;
  width: 85px;
  left: 40px;
  top: 300px;
}
.hero__circle2 {
  opacity: 0.35;
  background-color: $muncak-bright-blue;
  z-index: 10000000;
  height: 70px;
  width: 70px;
  right: 786px;
  top: 360px;
}
.hero__circle3 {
  opacity: 0.80;
  background-color: $muncak-pink;
  z-index: 10000000;
  height: 100px;
  width: 100px;
  right: 38px;
  top: 700px;
}


// .hero__button