.footer {
  position: relative;
  z-index: 1000;
}
.links__wrapper {
  margin-top: 80px;
}
.links__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  * {
    flex: 1;
  }
}

