.news__wrapper {
  padding-top: 150px;
}
.news__title-wrapper {
  margin-bottom: 100px;
  text-align: center;
  h2 {
    text-transform: capitalize;
  }
}
.news__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  * {
    flex: 1;
  }
}