.news {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    height: 670px;
    width: 180px;
    z-index: -1;
    background-image: url("../img/bg-shape03.svg");
    background-size: contain;
    background-repeat: no-repeat;
    left: -128px;
    top: 354px;
    pointer-events: none
  }
}

.news__wrapper {
  padding-top: 150px;
}
.news__title-wrapper {
  margin-bottom: 100px;
  text-align: center;
  h2 {
    text-transform: capitalize;
  }
}
.news__cards {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  * {
    flex: 1;
  }

  .news__circle1{
    position: absolute;
    border-radius: 50%;
    user-select: none;
    pointer-events: none;
  }

  .news__circle1 {
    opacity: 0.2;
    background-color: $muncak-bright-blue;
    z-index: 1000;
    height: 120px;
    width: 120px;
    right: -265px;
    top: -40px;
  }
}