.numbers__wrapper {
  padding-top: 140px;
  text-align: center;
  position: relative;
}

.numbers__title-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.numbers__title {
  marker-bottom: 100px;
  margin-bottom: 50px;
}

.numbers__circle1 {
  position: absolute;
  border-radius: 50%;
  user-select: none;
  pointer-events: none;
}

.numbers__circle1 {
  background-color: $muncak-pink;
  z-index: -10;
  height: 150px;
  width: 150px;
  left: -80px;
  top: 500px;
}

.numbers__cards {
  padding: 0 64px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  * {
    flex: 1;
  }
}