.numbers__wrapper {
  padding-top: 140px;
  text-align: center;
}

.numbers__title-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.numbers__title {
  marker-bottom: 100px;
  margin-bottom: 50px;
}

.numbers__cards {
  padding: 0 64px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  * {
    flex: 1;
  }
}