.social__wrapper {
  margin: 80px 0;
}
.social__list {
  margin: 0;
  padding: 0;
  background-color: $muncak-dark-blue;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.social__list-item {
  height: 50px;
  margin-right: 8px;
  svg {
    cursor: pointer;
    height: 100%;
    width: auto;
  }
  &:hover {
    .svg__path {
      transition: all 0.3s ease-in-out; 
      fill: lighten($muncak-blue, 25%);
    }
  }
}