div.action-card
  div.action-card__wrapper
    div.action-card__text-box
      h2 Advocate
      p We work with Congress, Federal Agencies, and partners on policy issues and legislation to ensure funding for trails, preservation of natural areas, and protection of the hiking experience.
