div.actions__card
  div.actions__card-wrapper
    div.actions__card-text-box
      h2 Advocate
      p We work with Congress, Federal Agencies, and partners on policy issues and legislation to ensure funding for trails, preservation of natural areas, and protection of the hiking experience.
