div.link-card
  h3.link-card__title contact us
  ul.link-card__list
    li.link-card__list-item
      a.link-card__text Muncak hiking society<br>8605 Second Ave.<br>Silver Spring, MD 20910
    li.link-card__list-item
      a.link-card__text info@muncak.org<br>1-301-565-6704(Main)<br>1-800-972-8608(Toll-free)

