div.news-card
  image.news-card__img(src="img/header.png").news-card
  h2.news-card__title 2,802 miles of trail to be improved on international trails day
  p.news-card__text On June 2, 2018, people across world will come together to collectively improve 2,802 miles of trail-the distance across the world-during international Trails Day. Muncak invites hikers, cyclists, improve 2,802 miles of trail-the distance across the world-during international Trails Day. Muncak invites hikers, cyclists
  a.news-card__more(aria-label="Read More") Read More
